@import "@/services/scss/variables.scss";
@import "@/services/scss/mixin.scss";

.draggable_section {
    padding: 15px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    // background-color: red;

    .title {
        @include flexBetween;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .draggable_container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            width: 8px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
    .space {
        padding-bottom: 10px;
    }
    .arrowContainer {
        position: absolute;
        top: auto;
        bottom: 0;
        button {
            background-color: transparent;
            border: none;
            @include flexCenter;
            padding: 0;
        }
    }
    .arrow_left {
        left: 0;
    }
    .arrow_right {
        right: 0;
    }
}
